.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm input[type="text"] {
  height: 2rem;
  width: 30%;
  outline: none;
}

.searchForm input[type="text"]:focus {
  border: 2px solid #009879;
}

.searchForm button {
  height: 2.4rem;
  width: 4rem;
}

.searchForm button:hover {
  cursor: pointer;
}
