/* Styling for table */
.styled-table {
  border-collapse: collapse;
  margin: 3rem 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0;
  position: absolute;
  top: 7rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  text-align: center;
}

.styled-table tbody tr:not(.tableHead):hover {
  background-color: #ddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:nth-child(1) {
  background: none;
}

/* Styling for no search result */

.notFoundContainer {
  background-color: #009879;
  margin: 2rem 30%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.notFound {
  text-align: center;
}

/* back-to-top button styling */

.backTop {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  height: 32px;
  width: 32px;
  border-style: none;
  border-radius: 5rem;
  background-color: #009879;
  cursor: pointer;
  color: whitesmoke;
}

.backTop:hover {
  background-color: #37534d;
}
