:root {
  --bg-color: #eef2f6;
  --primary-color: #009879;
  --secondary-color: #f3f3f3;
  --font: "Open Sans", sans-serif;
}

/* Styling for table container */

.tableContainer {
  border-radius: 2rem;
  background-color: var(--primary-color);
}

/* Styling for table */
.table {
  border-collapse: collapse;
  margin: 3rem 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0;
  position: absolute;
  top: 7rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

.table thead tr {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: center;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  text-align: center;
}

.table tbody tr:not(.tableHead):hover {
  background-color: #ddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: var(--secondary-color);
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}

.table tbody tr:nth-child(1) {
  background: none;
}

/* Styling for no search result */
.notFoundContainer {
  background-color: var(--primary-color);
  margin: 2rem 30%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.notFound {
  text-align: center;
  color: var(--secondary-color);
}

/* back-to-top button styling */

.backTop {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  height: 32px;
  width: 32px;
  border-style: none;
  border-radius: 5rem;
  background-color: var(--primary-color);
  cursor: pointer;
  color: whitesmoke;
}

.backTop:hover {
  background-color: #37534d;
}
